@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900,1000");

:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--mainBlack);
  background: black;
  font-family: "Lato", sans-serif;
}
/* --------------- Navbar ---------------- */
.navbar {
  position: sticky;
  top: 0;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 1);
  z-index: 1;
}
.navbar-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}
.nav-icon {
  font-size: 1.5rem;
  color:white;
}
.cart-btn {
  position: relative;
  cursor: pointer;
}
.cart-items {
  position: absolute;
  top: -8px;
  right: -8px;
  background: #ED1C24;
  padding: 0 5px;
  border-radius: 100%;
  color: var(--mainWhite);
}
ul li a svg {
  margin-bottom: -5px;
}
ul li {
  display: inline-block;
  padding: 0 20px;
}
ul li a {
  color: white;
  text-decoration: none;
  margin-bottom: -20px;
  transition: .4s all;
}
ul li a:hover {
  color: #ED1C24;
  text-decoration: none;
  margin-bottom: -20px;
}
ul li a svg:hover {
  color: #ED1C24;
  text-decoration: none;
}
/* --------------- End of Navbar ---------------- */
/* --------------- Hero ---------------- */
.hero {
  height: 100vh;
  background:linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4)), url('https://images.hdqwalls.com/wallpapers/the-batman-2021-robert-pattinson-4k-0q.jpg');
  background-size: cover;
background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
}
.watch {
  cursor: pointer;
  transition: .5s all;
  text-decoration: none;
}


.hero h3{
  font-size: 60px;
  font-weight: 600;
  margin-bottom: -20px;
  letter-spacing: 9px;
}
.hero h1{
  font-size: 140px;
  font-weight: 900;
  letter-spacing: 14px;
}
.hero .watch{
  letter-spacing: 2px;
  font-size: 18px;
  margin-top: 20px;
  padding: 20px 100px;
  width: 330px;
  height:70px;
  background: transparent;
  color:white;
  border:1px solid white;
}
.watch:hover {
  color:black;
  background: white;
}

.search-bar {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.search-bar input {
  padding: 0 20px;
  width: 100%;
  height: 60px;
  font-size: 24px;
  background: transparent;
  border: 1px solid #ED1C24;
  color:#ED1C24;
}
.search-bar input:-webkit-autofill{
  background: transparent!important;
}
.search-bar input:autofill{
  background: transparent!important;
}
.search-bar input:focus {
  outline: none;
}
.search-bar input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: transparent!important;
    color: black;
}

.search-result {
  background-position: bottom; background-size: cover; width:100%; height:300px;
  transition: all 5s ease-in-out;
}
.search-result:hover{
  background-position: top;
}
.search-result:hover .overlay{
  background: black;
  opacity: .6;
  width: 100%;
  height: 100%;
  z-index: =10;
}
.overlay{
 transition: all 1s;
}
article{
  transition: all 1s;
}

.banner {
  text-align: center;
  display: inline-block;
  padding: 2rem;
}
.banner-title {
  font-size: 3.4rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 3rem;
}
.banner-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background: #ED1C24;;
  color: var(--mainBlack);
  border: 1px solid #ED1C24;;
  transition: var(--mainTransition);
  cursor: pointer;
}
.banner-btn:hover {
  background: transparent;
  color: #ED1C24;
}
/* --------------- End of Hero ---------------- */
/* --------------- Products ---------------- */

.products {
  padding: 4rem 0;
}
.section-title h2 {
  padding: 0 19%;
  font-size: 2.5rem;
  margin-bottom: 5rem;
  color:white;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.products-center, .today-center, .rate-center, .coming-center, .all-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}
.img-container {
  position: relative;
  overflow: hidden;
}
.bag-btn {
  position: absolute;
  color:#ED1C24;
  top: 5%;
  right: 0;
  background: transparent;
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  transition: var(--mainTransition);
  transform: translateX(101%);
  cursor: pointer;
}
.bag-btn:hover {
  color: #ED1C24;
}
.fa-shopping-cart {
  margin-right: 0.5rem;
}
.img-container:hover .bag-btn {
  transform: translateX(0);
}
.heart-btn {
  position: absolute;
  color:#ED1C24;
  top: 7%;
  left: -50px;
  transition: var(--mainTransition);
  background: transparent;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  transform: translateX(21%);
  cursor: pointer;
}
.heart-btn:hover {
  color: #ED1C24;
}
.img-container:hover .heart-btn {
  transform: translateX(0);
  margin-left: 70px;
}

.play-btn {
  position: absolute;
  color:#ED1C24;
  top: 45%;
  left: 40%;
  font-size: 50px;
  transition: var(--mainTransition);
  background: transparent;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  transform: translateX(21%);
  cursor: pointer;
  opacity: 0;
}
.play-btn a{
  color:#ED1C24;
}
.play-btn:hover {
  color: #ED1C24;
}
.img-container:hover .play-btn {
  opacity: 1;
}
.product-img {
  display: block;
  width: 100%;
  height: 25rem;
  transition: var(--mainTransition);
}
.img-container:hover .product-img {
  opacity: 0.1;
}

.product h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
  color:white;
  letter-spacing: var(--mainSpacing);
}

.product h4 {
  margin-top: 0.7rem;
  letter-spacing: var(--mainSpacing);
  color:#ED1C24;
}

/* ---------------End of Products ---------------- */

/* --------------- Cart ---------------- */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgb(237, 28, 36, 0.5);
  z-index: 2;
  visibility: hidden;
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: rgb(231, 226, 221);
  padding: 1.5rem;
  transition: var(--mainTransition);
  transform: translateX(100%);
}
.showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}
/*---------- Cart Item -------------------- */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
.cart-item img {
  width: 75px;
  height: 75px;
}
.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}
.item-amount {
  text-align: center;
}
.remove-item {
  color: grey;
  cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
  color: #ED1C24;
  cursor: pointer;
}
/*---------- End of Cart Item -------------------- */

.cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}
